/* ------- RESET ------*/
body, nav, footer, ul, li, figure, img, header {
	margin : 0;
	padding : 0;
}

p, h1, h2, h3, h4, a{
	margin : 0;
	padding : 0;
}

/*----- BLOCS -----*/ 

html {
	height : 100%;
}

body {
	background-image : url('../images/bg.jpg');
	background-repeat : no-repeat;
	background-attachment: fixed;
	background-size : 100% 100%;
	
	/*Pour fixer le footer en bas */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	min-height : 100%;
}

#loader {
	position: absolute; 
    width: 100%;
    height: 100%; 
    opacity : 0.8;
    background: url('../images/loader.gif') no-repeat center center;
    background-color : white;
    z-index : 999999;
}

#row_corps {
	margin : 0;
}

#corps {
	margin : auto;
	margin-top : 60px;
	margin-bottom : 100px;
	box-shadow : 5px 5px 20px rgba(50,0,0,0.7), 1px 1px 40px rgba(255,255,255,0.4) inset;
	width : 75%;
	height : 600px;
	opacity : 1;
	overflow : auto;
	border-radius:5px;
}

/* ---- Partie Centrale ---- */

#section{
	margin-top : 1em;
}

/* ---- CLASSEMENT ---- */

ol.classement {
	text-align : center;
}

li.classement {
	font-size : 2em;
}

/* ---- MEMBRE ---- */

h2.membre {
	padding : 0;
	display : inline-block;
	text-align : center;
}

h2.souligne {
	text-decoration : underline;
}

li.membre {
	list-style-type : none;
	text-align : center;
}

/*--- NAV ---*/

nav {
	position : fixed;
	background-color : black;
	height : 50px;
	box-shadow : 0 7px 15px black;
}

.navbar{
	margin-bottom : 0;
	border-radius : 0px;
	background-color : black;
}

li.menu {
	font-size : 1.2em;
	line-height : 1.2em;
	margin-left : 0.5em;
}

#form_login {
	height : 20px;
	margin-right : 10px;
}

#deco {
	margin-top : 8px;
	margin-right : 20px;
}

/*----- FORMULAIRE ------*/

#form_login{
	padding : 10px;
	text-align : center;
}

label.control-label {
	padding-right : 0;
}

#bouton_envoi{

}


/* ---- RESUME POLICE ---- */
/*
 * Texte 
 * Titres
 * 
 *
*/


/*----- TEXTE DEFAUT -----*/ 

p, h1, h2, h3, h4, h5 {

	color: rgba(0,0,0,0.95);
	text-shadow: 1px 1px rgba(255, 255, 200, 1);
}


p{
	padding : 0 4em;
	font-size : 1.1em;
	text-align : justify;
	
}

h1{
	margin-bottom : 1em;
	text-align : center;
	font-weight : bold;
}

h2{
	text-align : center;
	margin : 0.5em;
}

h3{

}

/*----- TEXTE PERSO -----*/ 

#bloc_jouer {
	text-align : center;
	margin-top : 2em;
	margin-bottom : 2em;
}

#jouer {
	color : black;
	font-size : 2em;
	border : 4px solid brown;
	padding : 0 0.5em;
	transition : 0.5s;
}

#jouer:hover {
	text-decoration : none;
	background-color : black;
	color : white;
	transition : 0.5s;
}

/*----- IMAGES, FIGURES, BOUTONS -----*/ 

.navbar-brand{
	padding : 0;
}

img.logo {
	width : 2em;
	margin-left : 20px;
}

img.case{
	height : 200px;
	margin : auto;
	padding-bottom : 10px;
}

#socrate {
	height : 200px;
	box-shadow : 0 2px 5px;
	margin-top : 1em;
}

#podium {
	height : 100px;
}

#erreur_retour {
	text-align :center;
}

/* ---- Liste Forums ---- */

#liste_forums {
	height : 100%;
}

.table-responsive {
	height : 96.5%;
}



form.forum{
	margin : 0;
	padding : 0;
	display : inline;
}

/*----- FOOTER -----*/

#footer{
	position : absolute;
	bottom: 0.5em; 
}

p.foot {
	color : white;
	text-align : center;
	text-shadow:inherit;
	opacity:0.8;
}

/*----- CHAT -----*/

#conversation{
	height : 420px;
	width : 100%;
	overflow-y : auto;
}

#form_chat {
	margin-bottom : 1em;
	text-align : center;
}

h2.haut_chat {
	color:white;
}

#choix_sujet {
	text-align : center;
}

#liste_choix_sujet {
	font-size : 1.2em;
}

#valider_sujet {
	font-size : 1.2em;
	margin-bottom : 0.3em;
}

.message_adv, .message_moi {
	margin-bottom : 1em;	
	box-shadow : 0 4px 7px;
	border-radius : 10px;
	word-break: break-all;
}

.message_adv {
	background-color : gold;
	margin-left : 45%;
	margin-right : 20px;
}

.message_moi{
	background-color : lightblue;
	margin-right : 45%;
	margin-left : 20px;
}

p.arg {
	margin : 0;
	padding : 0.2em;
	font-size : 1.3em;
	text-align : justify;
}

.bloc_arbitre {

}

#pseudos {
	margin-bottom : 1em;
}

#pseudo_moi, #pseudo_adv, #pseudo_j1, #pseudo_j2 {
	display : inline-block;	
	font-size : 1.2em;
	padding : 0.2em;
	border : 4px solid;
}

#pseudo_moi, #pseudo_j1 {
	background-color : lightblue;
}

#pseudo_adv, #pseudo_j2 {
	background-color : gold;
	float : right;
}

#quitter {
	margin-top : -120px;
	box-shadow : 0 2px 5px black;
}

/* ----- VOTES ------ */

.vote_down,.vote_up{
	font-size : 1.3em;
	text-align :center;
	transition : transform;
	opacity : 0.7;
	cursor : pointer;
	transition : 0.3s;
}

.vote_down{
	color :red;
	margin-left : 0.5em;
}

.vote_up{
	color :green;
	margin-right : 0.5em;
}

.vote_down:hover, .vote_up:hover{
	transform : rotateX(70deg);
	transition : 0.3s;
}

.vote_valide {
	opacity : 1;
	font-weight : bold;
	cursor : auto;
}

.vote_valide:hover {
	transform : none;
}

.votes {
	text-align :center;
}
