/* ------- RESET ------*/
body, nav, footer, ul, li, figure, img, header {
	margin : 0;
	padding : 0;
}

p, h1, h2, h3, h4, a{
	margin : 0;
	padding : 0;
}

/*----- BLOCS -----*/ 

html {
	height : 100%;
}

body {
	background-image : url('../images/bg.jpg');
	background-repeat : no-repeat;
	background-attachment: fixed;
	background-size : 100% 100%;
	
	/*Pour fixer le footer en bas */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	min-height : 100%;
}

#row_corps {
	margin : 0;
}

#corps {
	margin : auto;
	margin-top : 75px;
	margin-bottom : 100px;
	box-shadow : 0 10px 20px;
	width : 75%;
	height : 550px;
	opacity : 1;
}

/* ---- Partie Centrale ---- */

#section{
	margin-top : 1em;
}

/* ---- CLASSEMENT ---- */

ol.classement {
	text-align : center;
}

li.classement {
	font-size : 2em;
}

/* ---- MEMBRE ---- */

h2.membre {
	padding : 0;
	display : inline-block;
	text-align : center;
}

h2.souligne {
	text-decoration : underline;
}

li.membre {
	list-style-type : none;
	text-align : center;
}

/*--- NAV ---*/

nav {
	position : fixed;
	background-color : black;
	height : 50px;
	box-shadow : 0 7px 15px black;
}

.navbar{
	margin-bottom : 0;
	border-radius : 0px;
	background-color : black;
}

li.menu {
	font-size : 1.2em;
	line-height : 1.2em;
	margin-left : 0.5em;
}

form.form-inline{
	height : 20px;
}

#deco {
	margin-top : 8px;
	margin-right : 8px;
}

/*----- FORMULAIRE ------*/

form{
	padding : 10px;
	text-align : center;
}

label.control-label {
	padding-right : 0;
}


/* ---- RESUME POLICE ---- */
/*
 * Texte 
 * Titres
 * 
 *
*/


/*----- TEXTE DEFAUT -----*/ 

p{
	padding : 0 4em;
	font-size : 1.1em;
	text-align : justify;
}

h1{
	margin-bottom : 1em;
	text-align : center;
	font-weight : bold;
}

h2{
	text-align : center;
	margin : 0.5em;
}

h3{

}

/*----- TEXTE PERSO -----*/ 


/*----- IMAGES, FIGURES, BOUTONS -----*/ 

.navbar-brand{
	padding : 0;
}

img.logo {
	width : 2em;
	margin-left : 20px;
}

img.case{
	height : 200px;
	margin : auto;
	padding-bottom : 10px;
}

/* ---- Liste Forums ---- */

#liste_forums {
	
}

.table-responsive {

}

form.forum{
	margin : 0;
	padding : 0;
	display : inline;
}

/*----- FOOTER -----*/

#footer{
	position : absolute;
	bottom: 0.5em; 
}

p.foot {
	color : white;
	text-align : center;
}

/*----- CHAT -----*/

#conversation{
	height : 450px;
	width : 100%;
	overflow-y : scroll;
}

#form_chat {
	margin-bottom : 2em;
}

h2.haut_chat {
	color:white;
	text-align:center;
}

.message_adv, .message_moi {
	margin-bottom : 1.5em;	
	box-shadow : 0 4px 7px;
	border-radius : 10px;
	word-break: break-all;
}

.message_adv {
	background-color : gold;
	margin-left : 45%;
	margin-right : 20px;
}

.message_moi{
	background-color : lightblue;
	margin-right : 45%;
	margin-left : 20px;
}

p.arg {
	margin : 0;
	padding : 0.2em;
	font-size : 1.3em;
	text-align : justify;
}

p.erreur_jeu {
	color :red;
	font-weight : bold;
	text-align : center;
}

